<nav class="navbar">
  <a routerLink="">Accueil</a>
  <a routerLink="angular-fondamentaux">Angular fondamentaux</a>
  <a routerLink="bind-proprietes-et-evenements">Bind propriétés et événements</a>
  <a routerLink="passage-de-donnees-entre-composants">Passage de données entre composants</a>
  <a routerLink="compteur">Compteur</a>
  <a routerLink="effect-et-computed">Effect et computed</a>
  <a routerLink="input-avec-ngModel">Input avec NgModel</a>
  <a routerLink="exercice-fruits">Exercice fruits / légumes</a>
  <a routerLink="requete-api">Requêtes API</a>
</nav>